<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <title>prod_line</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <h1>Dữ liệu MES từ xưởng (giả lập)</h1>

  <div class="image-box">
    <h2>Ảnh chụp bề mặt tấm thép</h2>
    <img id="sent-image" src="/api/image/latest" alt="Sent image" />
    <!-- <p>Thời gian đã gửi: <span id="sent-at">--:--:--</span></p> -->
  </div>

  <div class="records-box">
    <h2>Thông số cảm biến trên dây chuyền</h2>
    <div class="records-scroll">
      <table class="records-table">
        <thead>
          <tr>
            <th>Thời<br />gian</th>
            <th>Lagging<br />kVarh</th>
            <th>Leading<br />kVarh</th>
            <th>CO2</th>
            <th>Lagging<br />PF</th>
            <th>Leading<br />PF</th>
            <th>NSM</th>
            <th>Load Type</th>
          </tr>
        </thead>
        <tbody id="records-body"></tbody>
      </table>
    </div>
  </div>

  <script src="/static/dashboard.js"></script>
</body>
</html>
